.card {
    width: 31%;
    min-height: 28rem;
    min-width: 300px;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.1);
    background-color: rgb(254, 254, 254);
    transition: background-color .4s ease;


    overflow: hidden;

    padding-top: 1.5rem;

    display: flex;
    flex-direction: column;

}

.card.hidden {
    visibility: hidden;
}

@media (max-width: 1081px) {
    .card.hidden {
        display: none;
    } 
}

.card-image {
    height: 52%;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-position-y: 30%;
}   

.card-text {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    flex-direction: column;
    gap: .875rem;
}


.tools {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: .5rem;
    flex-wrap: wrap;
}


.tool {
    font-size: .875rem;
    padding: .25rem .5rem;
    border-radius: .5rem;
    color: rgba(0, 0, 0, 0.663);
    background-color: rgba(103, 224, 135, 0.366);
}

.show-more {
    cursor: pointer;
    overflow: hidden;

    margin-top: auto;
    
    color: rgb(103, 224, 135)
}

.show-more .animated-underline {
    box-sizing: border-box;
    border: 2px solid rgb(103, 224, 135);
    transition: transform 0.3s ease;
    transform: translateX(-101%);
}

.card:hover .card-text .show-more .animated-underline {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.card:hover {
    cursor: pointer;

    background-color: rgb(249, 248, 248);
    transition: background-color .4s ease;
}