.skills-section:after {
  content: '';
  width: 50%;
  height: 1px;
  background-color: rgb(222, 222, 222);
  border-radius: 50%;
  position: absolute;
  bottom: -1px;
  filter: blur(2px);
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.skills-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3%;

    flex-wrap: wrap-reverse;
}

.skills-text {
    display: flex;
    flex-direction: column;

    flex: 1;

    gap: 2rem;

    min-width: 300px;

}

.skills-text div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-list li {
    background-color: rgba(103, 224, 135, 0.236);
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.skills-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.skills-image {
    height: 300px;
    width: 300px;

    background-image: url('../../assets/skills-picture.png');
    background-size: cover;
}
